@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding-right: 4rem;
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

aside {
    width: 40%;
    height: 90vh;
}

aside img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.box {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.box:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.dark-box {
    background-color: #202020;
    margin-bottom: auto;
}

.logo {
    background-color: white;
    color: black;
    font-size: 2rem;
    border-radius: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin-right: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h3  {
    color: #6f6f66;
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
}

.text {
    width: 300px;
}

.fa-chevron-right {
    font-size: 3rem;
}

@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
        padding-right: 0;
    }
    aside, main {
        height: auto;
        width: 100%;
    }
}